.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1.25rem;
    align-items: stretch;
  }
}

@media (min-width: 768px) {
  .cardsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .cardsContainer {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
